// IMPORT FONTS

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Serif', serif;

// BASE STYLES

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  line-height: 1.5;
  color: #4b6374;
  height: 100vh;
  min-height: 100vh;
  background: #ffffff;/* Old Browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #b1b8bd 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #b1b8bd));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #b1b8bd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #b1b8bd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #b1b8bd 100%); /* IE 10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #b1b8bd 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b1b8bd', GradientType=0 );/* IE6-9 */
}
p {
  font-size:1rem;
  font-family: 'Noto Serif', serif;
  color: #000;
  margin: 1rem!important;
  &.highlighted-content {
    font-size:1.25rem;
    margin-bottom: 2rem!important;
  }
}
strong,
b {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
}
ul ul {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
  padding-top: 5rem;

  span {
    font-weight: 500;
  }

}

h2 {
  font-weight: 600;
  padding: 2rem 0 0.2rem 0;
  font-size: 21px;
  text-transform: uppercase;
  color: #115069;
}

a {
  border-bottom: none;
  color: #4b6374;
  text-decoration: none;
  font-size: 1rem;
}
 
a:hover {
  border-bottom: none;
  color: #4b6374;
  text-decoration: underline;
}

.contact-info {
  text-align: center;

  a {
    padding: 0 0.5rem 0 0.5rem;
  }

}

// .contact-links {
  // text-align: center;
  // margin: 0 auto;
  // width: 100%;

  // > a {
    // margin-top: 1.25em!important;
    // text-transform: uppercase;
    // font-family: 'Montserrat', serif;
    // font-weight: 550;
    // border-right: 3px solid #4b6374;
    // padding-right: 1rem;
    // // margin-left: 1rem;
    // display: block;
    // float: left;
    // height: 16px;
    // margin-top: 0;
    // line-height: 16px;
    // width:20%;

    // &:first-of-type {
    //   margin-left: 0;
    // }

    // &:last-of-type {
    //   border-right: none;
    //   padding-right: 0;
    // } 
  // }

  // }

// HEADER

// Demo of using media queries inline with a class style
body {
  // border: 5px solid green;
  @media (max-width: 1024px) {
    // border-color: orange;
  }
  @media (max-width: 768px) {
    // border-color: red;
  }
}

.primary-navigation {
  ul {
    list-style: none;
    padding: 0;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    li {
      a {
        text-decoration: none;
        display: block;

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}

// FOOTER
